body {
    margin: 0;
    color: #333;
    font-family: Arial, sans-serif;

  }

  header {
    position: fixed;
    display: flex;
    flex-direction: column; 
    width: 100%;
    top: 0; 
    left: 0; 
    background-color: #fff; 
   ;
  }
  
  #info-banner-container {
    background-color: #d0875d;
    color: antiquewhite;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    line-height: 1.4;
    font-weight: bold;
  }
  
  .header-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0D2601;
    padding: 10px;
  
  }
  


  .logo {
    max-height: 25px;
  }
  
  .header-info p {
    margin: 0;
    font-size: 14px;
    color: antiquewhite;
  }

  .header-bottom {
    background-color: #0D2601;
    padding: 20px;
  }

  .pageBar {

  }
  
  .logo {
    position: relative; 
    left: 670px;
    max-height: 80px;

  }
  
  nav {
    z-index: 500;
    position: absolute;
    display: flex;
    text-align: center;
    margin: 0px 0;
  }
  
  nav a {
    color: antiquewhite;
    font-weight: lighter;
    margin: 0 10px; 
    font-size: 15px;
    
  }
  
  nav a:hover {
    text-decoration: underline; 
  }
  

  h1 {
    color: #7711d6;
    text-align: center; 
    padding-top: 5px;
    font-size: 15px;
  }
  
  
  p {
    line-height: 1.6;
    margin: 0 20px;
    font-size: 16px; 
  }
  
 
  form {
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
  }
  
  form label {
    display: block; 
    margin: 10px 0 5px;
  }
  
  form input, form textarea {
    width: 100%; 
    padding: 8px;
    margin-bottom: 10px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
  }
  
  form input[type="submit"] {
    background-color: #3498db;
    color: white; 
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  form input[type="submit"]:hover {
    background-color: antiquewhite;
  }
  
 
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.1);
  }



  .searchBox {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #0D2601;
    overflow: hidden;
    right: 120px;
    top: 53px;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .5s;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
  }

  .searchBox.ativar{
    width: 300px;
  }

  .searchBox .lupaSearch{
    min-width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color:#0D2601;

    
  }

  .searchBox .buttonClose{
    min-width: 38px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

  }

  .searchBox .buttonClose i{
    font-size: 15px;
    margin-left: 5px;
  }
  
  .searchBox .lupaSearch i{
  font-size: 20px;
  }

  .searchBox .inputSearch {
    position: absolute;
    left: 45px;
    width: calc(100% - 150px);
    height: 100%;
    line-height: 40px;
  }

  .searchBox .inputSearch input{
    border: 0;
    outline: 0;
    font-size: 16px;
    font-family: Orkney;
  }

  @font-face {
    font-family: Orkney;
    src: url(Fonte/orkney/Orkney-Regular.otf);
  }
  .fonte-externa {
    font-family: Orkney
  }

  .perfilIcone {
    font-size: 30px;
    position: absolute;
    top: 110px;
    right: 83px;
}

  .carrinhoIcone {
    font-size: 23px;
    position: absolute;
    top: 113px;
    right: 35px;
  
  }

.coffeNome {
  
  position: absolute;
  width: 180px;
  height: auto;
    right: 10px;
    left: 650px;
    top: 85px;
   
}
