body {
    margin: 0;

  }

  .content {
    position: fixed;
    background-color: #FEF5ED;
    min-height: calc(100vh - 130px); 
    padding: 20px;
}

.decoration_1 {
  position: absolute;
  display: flex;
  opacity: 50%;
  top: 400px;
 right: 55%; 
  transform: translateX(-50%);
  z-index: 0; 
  width: 40%;
  height: auto;
}

.decoration_2 {
  position: absolute;
  display: flex;
  opacity: 50%;
  top: 0px;
 right: -18%; 
  transform: translateX(-50%);
  z-index: 0; 
  width: 30%;
  height: auto;
}


.decoration_3 {
  position: absolute;
  display: flex;
  opacity: 50%;
  top: -0px;
 right: 73%; 
  transform: translateX(-50%);
  z-index: 0; 
  width: 20%;
  height: auto;
}


.homeText {
  color: #203C34;
  position: relative;
  z-index: 1;
}

  #info-banner-container {
    background-color: #203C34;
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    line-height: 1.4;
    font-weight: bold;
  }

  header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: #F8E8D6;
    position: sticky;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #98642c;
    border-bottom-style: dashed;

    top: 0;
  }

  header, nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header#cabecalho img#logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    bottom: 0;
    margin: auto;
  }

  .logo {
    position: absolute;
    display: flex;
    width: 200px;
    height: auto;
  }
  
  .searchBox {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #F8E8D6;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 80px;
    right: 115px;
    transition: .5s;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
  }

  .searchBox.ativar{
    width: 270px;
  }

  .searchBox .lupaSearch{
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color:#F8E8D6;
  }

  .searchBox .buttonClose{
    min-width: 38px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .searchBox .buttonClose i{
    font-size: 15px;
    margin-left: 5px;
  }
  
  .searchBox .lupaSearch i{
  font-size: 21px;
  }

  .searchBox .inputSearch {
    position: absolute;
    left: 45px;
    width: calc(100% - 150px);
    height: 100%;
    line-height: 40px;
  }

  .searchBox .inputSearch input{
    border: 0;
    outline: 0;
    font-size: 16px;
    font-family: Orkney;
  }

  .perfilIcone {
    font-size: 28px;
    position: absolute;
    top: 85px;
    right: 70px;
}

  .carrinhoIcone {
    font-size: 22px;
    position: absolute;
    top: 88px;
    right: 25px;
  
  }

  @font-face {
    font-family: montserrat;
    src: url(Fonte/dosis/Dosis-SemiBold.otf);
  }

  .font-nav {
    font-family: montserrat;
  }

  .fonte-externa {
    font-family: Orkney
  }


#menu {
  background-color: #F8E8D6;
  position: absolute;
  font-family: montserrat;
  left: 25px;
  top: 93px;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

#menu li {
  margin-right: 30px;
}

#menu a {
  color: #acacb0;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s;
}

#menu a:hover {
  color: #98642c; 
}

#menu li:last-child {
  margin-right: 0;
}